/* 

AMBIT theme v3.5
designed by J&J


Palette:
Red			#ff2b2b;
off-white:	#fcfcfc;
dark grey:	#303030;

*/

body {
	font-family: Helvetica Neue;
	background: #ddb78c;
	background-image: url(../images/wood-texture.jpg);
	background-attachment: fixed;
}

a {
	text-decoration: none;
	color: #ff2b2b;
}

#sidebar {
	background-color: #303030;
	color: #fcfcfc;
	position: fixed;
	height: 100%;
	width: 230px;
	padding: 20px;
}

#sidebar h1 {
	font-size: 13px;
	line-height: 20px;
}

#search input {
	background-color: #fcfcfc;
	border: none;
	width: 220px;
	height: 20px;
	padding: 5px;
	font-weight: bold;
	font-family: Helvetica Neue;
	font-size: 13px;
	margin-top: 10px;
	background-image: url(../images/v3sprite.png;);
	background-position: 209px -42px;
	background-repeat: no-repeat;
}

#sidebar .panel h2 {
	font-size: 15px;
	margin: 0px;
	border-top: 1px #fff solid;
	background-color: #303030;
	padding: 0px;
	background-image: url(../images/v3sprite.png;);
	background-position: 5px -391px;
	background-repeat: no-repeat;
}

#sidebar .open h2 {
	background-position: 5px -439px;
}


#sidebar .panel h2 a {
	color: #fcfcfc;
	display: block;
	padding: 0px 0px 0px 20px;
}

#sidebar .closed ul {
}

#sidebar .closed {
	background-color: #fcfcfc;	
	padding: 0px; 
}

.panel {
	color: #303030;
	font-size: 12px;
	background-color: #fcfcfc;
}

.panel ul {
	margin-bottom: 0px;
	padding: 0px;
	overflow-y: auto;
}

.panel ul ul {
	overflow: auto;
	height: auto;
}


#sidebar .panel a {
	color: #303030;
}

.open {
}

#sidebar a {
	color: #fcfcfc;
	
}

#statusPanel {
	position: fixed;
	right: 0px;
	width: 210px;
	top: 20px;
	background-color: #fcfcfc;
	font-size: 13px;
	padding-left: 10px;
	font-weight: bold;
}

#statusPanel .title {
	width: 90px;
	display: inline-block;
}

#statusPanel a {
	background-image: url(../images/v3sprite.png;);
	background-repeat: no-repeat;
	background-position: right -592px;	
	display: inline-block;
	width: 110px;
}

.jbasewrap {
	width: 720px;
}

#content {
	padding: 40px 0px;
	z-index: 1;	
}

.tiddler {
	background: #fcfcfc;
	position: relative;	
	
  -webkit-box-shadow: 0px 1px 2px #000; 
     -moz-box-shadow: 0px 1px 2px #000; 
          box-shadow: 0px 1px 2px #000; 
}


.watermark {
	position: absolute;
	width: 220px;
	left: 490px;
	top: 50px;
	font-size: 13px;
}

.watermark .title {
	width: 50px;
	display: inline-block;
}

.tiddler h2 {
	font-size: 32px;
	font-weight: bold;
	padding-top: 40px;
	padding-left: 50px;
}


/* 
---------------------- Jbase overrides for tiddler headers starting at h3
*/

.article h3 {
	font-size: 32px;
	margin: 0px 0px 12px;
	font-weight: normal;
	padding:0px;
}

.article h4 {
	font-size: 28px;
	line-height: 30px;
	margin-bottom: 14px;
	padding-top: 4px;
}

.article h5 {
	font-size: 24px;
	line-height: 30px; 		
	margin-bottom: 13px;
	padding-top: 5px;
}

.article h6 {
	font-size: 20px;
    line-height: 24px;
    margin-bottom: 14px;
    padding-top: 4px;	
}


/* 
---------------------- End Jbase
*/

.article {
	padding: 40px 80px 30px 50px;
}

hr.infoBorder {
	height: 3px;
	background-color: #303030;
	color: #303030;
	margin: 0px 10px 0px 0px;
	
}

.info {
	display: none;
	margin-right: 10px;
	background-color: #f1f1f1;
	font-size: 11px;
	padding-left: 30px;
	overflow: hidden;
	line-height: 18px;
}

.info .column {
	float: left;
	width: 150px;
	margin-left: 20px;
}

.info h3 {
	font-size: 13px;
	margin-top: 12px;
	padding-right: 14px;
	line-height: 18px;
	font-weight: bold;
	height: 50px;
	border-bottom: #303030 1px solid;
}

.info ul {
	list-style: none;
	margin-left: 0px;
}

.info ul li {
	margin-bottom: 6px;
}

.infoToggle {
	position: relative;
	left: 490px;
	display: block;
	width: 220px;
}

.infoToggle a span {
	width: 15px;
	display: inline-block;
}


.infoToggle a {
	color: #fcfcfc;
	text-decoration: none;
	background-color: #303030;	
	width: 220px;
	display: block;
	text-align: center;
	font-size: 12px;
	letter-spacing: 0.08em;
}

.tools {
	position: absolute;
	width: 220px;
	left: 490px;
	top: 10px;
	text-align: right;
}

.tools a {
	background-image: url(../images/v3sprite.png;);
	background-repeat: no-repeat;
	display: block;
	text-indent: 999px;
	width: 30px;
	height: 30px;
	float: right;
	margin-left: 10px;
	overflow: hidden;
}

.tools a:hover {
	opacity: 0.6;
}

a.duplicate {
	background-position: 10px -250px;
}

a.edit {
	background-position: 10px -300px;
}

a.close {
	background-position: 10px -350px;
}

#sidebarIcons {
	width: 30px;
	position: absolute;
	top: 20px;
	right: -30px;
}

#sidebarIcons a {
	background-color: #303030;
	background-image: url(../images/v3sprite.png;);
	background-repeat: no-repeat;
	display: block;
	text-indent: -999px;
	width: 30px;
	height: 30px;
	background-position: 10px -500px;
	cursor: pointer;
	z-index: 100;
	border-top: #666 solid 1px; 
}

a#toggle {
	height: 40px;
	background-position: 10px -490px;
	margin-bottom: 40px;
	border-top: none;
}

a#search {
	height: 40px;
	background-position: 10px 13px;
	border-top: none;
}

a#history {
	background-position: 10px -92px;
}

a#current {
	background-position: 10px -142px;
	position: relative;
}

a#current span {
	background-color: #fcfcfc;
	color: #303030;
    border-radius: 10px 10px 10px 10px;
    display: block;
    font-size: 10px;
    height: 15px;
    line-height: 14px;
    padding: 0 4px;
    position: absolute;
    right: -8px;
    text-indent: 0;
    top: 6px;
    z-index: 111;
}

a#contents {
	background-position: 10px -192px;
}

